# {{ ansible_managed }}
---
version: "3"
services:
  runner:
    image: {{gickup_image}}
    pull_policy: always
    container_name: gickup
    user: "{{ created_uid }}:{{ created_gid }}"
    volumes:
      - {{gickup_host_backup_path}}:/gickup/backup
      - {{gickup_host_path}}/config.yml:/gickup/conf.yml
    command: ["/gickup/conf.yml"]
    environment:
      - TZ={{gickup_timezone}}
